* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
}

body {
    margin: 2rem;
    background: rgb(156, 208, 79);
}

.container {
    width: 60%;
    margin: auto;
    background: ;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    color: rgb(50, 50, 50);
}

form {
    margin-top: 1rem;
    background: lightgray;
    padding: 2rem;
    border-radius: 1rem;
}

input, select {
    width: 100%;
    padding: 1rem;
    margin: 1rem 0;
    border: .25rem solid grey;
    border-radius: .5rem;
}

input:focus {
    border: .25rem solid green;
    background-color: lightgreen;
}

input:focus::placeholder {
    color: green;
}

::placeholder {
    color: grey;
}

input:hover, select:hover {
    border-color: green;
}

select {
    color: gray;
}

option{
    background-color: white;
    font-size: 1rem;
    color: black;
}

button {
    background: green;
    border: none;
    color: white;
    padding: 1rem 3rem;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: .5rem;
    cursor: pointer;
    margin-top: 1rem;
}

button:hover {
    background: lightgreen;
    color: black;
    font-weight: 600;
}